{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ _('Sign in') }} | Wave{% endblock %}

{% block content %}

    <div class="container distance">

        <div class="page-header">
            <h1>{{ _('Sign in') }}</h1>
        </div>

        {{ super() }}

        <div class="row">

            <div class="col-xs-12 col-md-6">
                {{ wtf.quick_form(form) }}
            </div>

            <div class="col-xs-12 col-md-6">
                <a href="{{ url_for('auth.password_reset_request') }}">{{ _('Forget your password? Click here!') }}</a>
            </div>
        </div>

    </div>

{% endblock %}
