<div class="thumbnail article-preview">

    {% with author = post.author, content = post, type = "post" %}
        {% include "user/_author_bar.html" %}
    {% endwith %}

    <h3>
        <a href="{{ url_for('post.article', id=post.id) }}">{{ post.title }}</a>
    </h3>

    {% if post.subtitle %}
        <h4>{{ post.subtitle }}</h4>
    {% endif %}

    {% if post.description %}
        <p>{{ post.description }}</p>
    {% else %}
        <p>{{ post.preview | safe }}</p>
    {% endif %}

    {% include "post/_post_statusbar.html" %}
</div>

