{% if current_user == author %}
    {% if type == 'comment' %}

    {% else %}
        {% include "post/_post_menu.html" %}
    {% endif %}
{% else %}
    <div class="float-right">
        <a href="{{ url_for('user.send_message', recipient=author.username) }}" class="send_message">
            <i class="material-icons">mail_outline</i>
        </a>
    </div>
{% endif %}

<div class="author-bar clearfix flex-box">
    <div><a href="{{ url_for('user.profile', username=author.username) }}">
        <img src="{{ author.avatar(42) }}" alt="avatar" class="avatar">
    </a></div>

    <div class="author-bar-right">
        <div class="author-bar-name flex-box">
            <div><a href="{{ url_for('user.profile', username=author.username) }}">{{ author.name }}</a></div>
            {% with user = author %}
                {% include "user/_follow_buttons.html" %}
            {% endwith %}
        </div>

        <div class="timestamp">
            {{ _('Published on %(date)s', date=moment(content.pub_timestamp).calendar()) }}
            {% if type == 'post' and content.pub_timestamp != content.edit_timestamp %}
                {{ _(',') }}
                {{ _('Last edited on %(date)s', date=moment(content.edit_timestamp).calendar()) }}
            {% endif %}
        </div>
    </div>
</div>
