<div class="btn-group author-menu">
    <button class="close dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </button>
    <ul class="dropdown-menu">
        {#            {% if post.body %}#}
        <li><a href="{{ url_for('post.edit', id=post.id) }}">{{ _('Edit') }}</a></li>
        {#            {% else %}#}
        {#                <li><a href="{{ url_for('post.new', id=post.id) }}">{{ _('Edit') }}</a></li>#}
        {#            {% endif %}#}

        <li><a data-id="{{ content.id }}" data-toggle="modal" data-target="#confirmModal">{{ _('Delete') }}</a></li>
    </ul>
</div>

{% include "user/_post_delete_confirm.html" %}
