<div class="panel-group" id="{{ type }}accordion" role="tablist" aria-multiselectable="true">
    {% for message in messages %}
        <div class="panel panel-default" data-id="{{ message.id }}">
            <div class="panel-heading" role="tab" id="{{ type }}heading{{ loop.index }}">
                <h4 class="panel-title {{ 'read' if type == 'received' and message.read }}">
                    <a {{ 'class="collapsed"' if loop.index != 1 }}
                            role="button"
                            data-toggle="collapse"
                            data-parent="#{{ type }}accordion"
                            href="#{{ type }}collapse{{ loop.index }}"
                            aria-controls="{{ type }}collapse{{ loop.index }}"
                            aria-expanded={{ 'true' if loop.index == 1 else 'false' }}
                    >
                    <span>
                        {% if type == 'sent' %}
                            {{ _('Sent to %(name)s at ', name=message.recipient.name) }}
                            {{ moment(message.timestamp).calendar() }}
                        {% elif type == 'received' %}
                            {{ _('Sent from %(name)s at ', name=message.sender.name) }}
                            {{ moment(message.timestamp).calendar() }}
                            <span>
                                 -- ( <span id="status">{{ _('Read') if message.read else _('Unread') }}</span> )
                             </span>
                        {% endif %}
                    </span>
                    </a>

                    {% if type == 'sent' %}
                        <a href="{{ url_for('user.send_message', recipient=message.recipient.username) }}"
                           class="float-right">
                            <i class="material-icons">mail_outline</i>
                        </a>
                    {% elif type == 'received' %}
                        <a href="{{ url_for('user.send_message', recipient=message.sender.username) }}"
                           class="float-right">
                            <i class="material-icons">reply</i>
                        </a>
                    {% endif %}

                </h4>
            </div>

            <div id="{{ type }}collapse{{ loop.index }}"
                 class="panel-collapse collapse {{ "in" if type == 'sent' and loop.index == 1 }}"
                 role="tabpanel"
                 aria-labelledby="{{ type }}heading{{ loop.index }}">
                <div class="panel-body">
                    {{ message.content }}
                </div>
            </div>
        </div>
    {% else %}
        <h3>{{ _('Nothing here.') }}</h3>
    {% endfor %}
</div>
