<span class="statusbar">
{#    <a href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>{{ post.clicked }}</a>#}
    {% if post.hearts > 0 %}
        <button class="btn-link hearts" data-toggle="tooltip" data-placement="bottom" title="">
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>{{ post.hearts }}
        </button>
    {% else %}
        <button class="btn-link hearts" data-toggle="tooltip" data-placement="bottom" title="">
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        </button>
    {% endif %}
    <a href="{{ url_for('post.article', id=post.id) }}#write-comment" data-toggle="tooltip" data-placement="bottom"
       title="{{ ngettext('%(count)s comment', '%(count)s comments', post.comments.count(), count = post.comments.count()) }}">
        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>{{ post.comments.count() }}
    </a>
    <a class="float-right" href="#"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></a>
{#    <a href="#"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a>#}
    {#                <a href="#"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>{{ 9 }}</a>#}
</span>
