
<div class="thumbnail user-preview flex-box">

    <div class="u-flex1">
        <a href="{{ url_for('user.profile', username=user.username) }}">
            <img src="{{ user.avatar(60) }}" alt="avatar" class="img-thumbnail">
        </a>
    </div>

    <div class="u-flex2 flex-box-column">
        <span><a href="{{ url_for('user.profile', username=user.username) }}">{{ user.name }}</a></span>
        <span class="u-description">{{ user.description }}</span>
        {% include "user/_follow_buttons.html" %}
    </div>

</div>

