{% extends "base_infinite_scroll.html" %}

{% block title %}{{ _('Your articles') }} | Wave{% endblock %}

{% block content %}
    {{ super() }}
    <div class="row">
        <div class="col-xs-12 col-md-12 articles">

            <h1>{{ _('Drafts') }}</h1>

            {% for draft in drafts %}
                {% include 'post/_draft_preview.html' %}
            {% endfor %}
            {% include "post/_draft_delete_confirm.html" %}

            <h1>{{ _('Articles') }}</h1>

            {% for post in posts %}
                {% include 'post/_post_preview.html' %}
            {% endfor %}
{#            {% include "post/_post_delete_confirm.html" %}#}

        </div>
    </div>
    <a class="pagination__next" href="{{ request.url }}&page=2"></a>
{% endblock %}