{% extends "base_infinite_scroll.html" %}

{% block title %}{{ _('Bookmarks') }} | Wave{% endblock %}

{% block content %}
    {{ super() }}
    <div class="row">
        <div class="col-xs-12 col-md-12 articles">

            <div class="page-header">
                <h1>{{ _('Bookmarks') }}</h1>
            </div>

            {% for post in posts %}
                {% include 'post/_post_preview.html' %}
            {% endfor %}
        </div>
    </div>
    <a class="pagination__next" href="{{ request.url }}&page=2"></a>
{% endblock %}