{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ _('Edit Profile') }}{% endblock %}

{% block content %}

    <div class="container">

        <div class="page-header">
            <h1>{{ _('Edit Profile') }}</h1>
        </div>

        {{ super() }}

        <div class="row flex-box">
            <div class="col-xs-12 col-md-6">

                <div class="avatar">
                    <img src="{{ current_user.avatar() }}" alt="avatar">
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                {{ wtf.quick_form(form) }}
            </div>
        </div>


    </div>

{% endblock %}
