{% extends "base.html" %}

{% block title %}{{ _('%(name)s\'s HomePage', name = current_user.username) }}{% endblock %}

{% block content %}

    {{ super() }}
{#    {% include "user/_profile.html" %}#}

{#    {% if user.tags and current_user == user %}#}
{#        <div class="row">#}
{#            <div class="col-xs-12 col-md-12">#}
{##}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}

    {% if posts %}
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h1>{{ _('Latest') }}</h1>
                {% for post in posts %}
                    {% include "user/_post_preview.html" %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}
