{% extends "base.html" %}

{% block title %}{{ _('%(name)s\'s profile', name = user.username) }}{% endblock %}

{% block content %}

    {{ super() }}
    {% include "user/_profile.html" %}

    {% if user.tags and current_user == user %}
    <div class="row">
        <div class="col-xs-12 col-md-12">
            {% include "user/_tags.html" %}
        </div>
    </div>
    {% endif %}

    {% if user.posts %}
        <div class="row">
            <div class="col-xs-12 col-md-12 articles">
                <h1>{{ _('Latest') }}</h1>
                {% for post in posts %}
                    {% include 'user/_post_preview.html' %}
                {% endfor %}
            </div>
            <a class="pagination__next" href="{{ url_for('frontend.user', username = user.username) }}?page=2"></a>
        </div>
    {% endif %}

{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/infinite-scroll.pkgd.min.js') }}"></script>
{% endblock %}

{#<script>#}
{#    $(document).ready(function () {#}
{#        var since = "{{ user.member_since.strftime('%Y-%m-%dT%H:%M:%S' + 'Z') }}";#}
{#        var last = "{{ user.last_seen.strftime('%Y-%m-%dT%H:%M:%S' + 'Z') }}";#}
{#        $('span#member_since').text(moment(since).format('L'))#}
{#        $('span#last_seen').text(moment(last).fromNow())#}
{#    })#}
{#</script>#}
