{% extends "base_infinite_scroll.html" %}

{% block title %}
    {% if user.name %}
        {{ _('%(name)s\'s profile', name = user.name) }} | Wave
    {% else %}
        {{ _('%(name)s\'s profile', name = user.username) }} | Wave
    {% endif %}
{% endblock %}

{% block content %}
    {{ super() }}
    {% include "user/_profile.html" %}

    <div class="row">
        <div class="col-xs-12 col-md-12 articles">
            <h1>{{ _('Latest') }}</h1>
            {% for post in posts %}
                {% include 'user/_post_preview.html' %}
            {% endfor %}
        </div>
        {#    TODO:add bootstrap pagination#}
        <a class="pagination__next" href="{{ url_for('user.profile', username = user.username) }}?page=2"></a>
    </div>

{% endblock %}
