{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ _('Publications') }} | Wave{% endblock %}

{% block content %}
    {{ super() }}
    <div class="row">
        <div class="col-xs-12 col-md-12 publications">
            <div class="flex-box">

                <h1 class="flex-grow-1">{{ _('Publications') }}</h1>
                <button id="newPublication" class="btn btn-default" data-toggle="modal" data-target="#newPubModal">
                    {{ _('New publication') }}
                </button>
            </div>

            <h3>{{ _('Followed') }}</h3>

            {% for pub in publications %}
                {% include 'publication/_publication_preview.html' %}
            {% else %}
                <h4>{{ _('You have not followed any publications') }}</h4>
            {% endfor %}

            <h3>{{ _('Recommend') }}</h3>
        </div>
    </div>

    <div class="modal fade" id="newPubModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ _('New publication') }}</h4>
                </div>

                <form action="" method="post" class="form" role="form">
                    <div class="modal-body">
                        <h4>{{ _('Please fill out the publication information') }}</h4>

                        {{ form.hidden_tag() }}
                        {#                        {{ wtf.form_errors(form, hiddens="only") }}#}
                        {#                    <div class="form-group">#}
                        {#                        <label for="previewTitle">{{ _('Name') }}</label>#}
                        {#                        <input type="text" class="form-control" id="previewTitle" required#}
                        {#                               placeholder="{{ _('Write a name...') }}">#}
                        {#                    </div>#}

                        {{ wtf.form_field(form.name) }}
                        {#                    {{ wtf.form_field(form.description) }}#}
                        <div class="form-group">
                            {{ form.description.label }}
                            {{ form.description(class="form-control", rows="3") }}
                            {#                        <label for="{{ form.description.name }}">{{ _('Description') }}</label>#}
                            {#                        <textarea class="form-control" id="description" rows="3"#}
                            {#                                  placeholder="{{ _('Write a Description...') }}"></textarea>#}
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cancel') }}</button>
                        {#                    {{ wtf.form_field(form.submit) }}#}
                        {{ form.submit(class="btn btn-primary") }}
                        {#                    <button type="button" class="btn btn-primary">{{ _('Create') }}</button>#}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
