{% extends "base_search.html" %}

{% block title %}
    {{ _('Search and Find') }} - {{ 'Wave' }}
{% endblock %}

{% block content %}
    {{ super() }}

    {% if users %}
        <div class="row">
            <div class="col-xs-12 col-md-12 users">
                {% for user in users %}
                    {% include "user/_user_preview.html" %}
                {% endfor %}
                <div class="tabs"></div>

            </div>
            {% if request.base_url == request.url %}
                <a class="pagination__next" href="{{ url_for('frontend.search') }}?page=2"></a>
            {% else %}
                <a class="pagination__next" href="{{ request.url }}&page=2"></a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
