body > container:first-child {
    margin-top: 40px;
}
.content {
  padding: 40px 15px;
}
h1 {
  text-align: center;
}
.avatar {
    border-radius: 50%;
}
.thumbnail {
    /*min-height: 309px;*/
    padding-left: 25px;
    padding-right: 25px;
}
.thumbnail .avatar {
    /*display: inline-block;*/
    margin-top: 15px;
    float: right;
}
.thumbnail .caption {
    display: inline-block;
}
.dummy {
    height: 48px;
    margin-bottom: 20px;
}
.row {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}