/*general*/
html {
  overflow-x: hidden;
  overflow-y: scroll;
}

/*fixed modal shifting body bug*/
.modal-open {
  padding-right: 0 !important;
}

/*modal max width*/
.modal-dialog.modal-sm textarea {
  max-width: 268px;
}

.modal-dialog textarea {
  max-width: 568px;
}

.modal-dialog.modal-lg textarea {
  max-width: 868px;
}

/*flashed messages*/
body > div.alerts:first-of-type,
.distance {
  margin-top: 68px;
}

.content {
  padding: 40px 15px;
}

.row {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.dropdown-menu a#username {
  text-align: center;
}

.navbar-fixed-top {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.nav-tabs,
div.row div.search {
  margin-bottom: 20px;
}

.btn-group.open .dropdown-toggle {
  box-shadow: inherit;
  -webkit-box-shadow: inherit;
}

/*text-align: center*/
.flex-box {
  display: flex;
  align-items: center;
}

.flex-box-column {
  display: flex;
  flex-direction: column;
}

.flex-grow-1 {
  flex: 1 1 auto;
}

.flex-grow-2 {
  flex: 2 2 auto;
}

.flex-align-central {
  align-items: center;
}

.btn-xxs {
  padding: 0 5px;
  font-size: 12px;
  line-height: 18px;
  border-radius: 3px;
}

.navbar-brand {
  padding: 0 10px 0 0;
  line-height: 50px;
}

.navbar-brand > span {
  display: inline-block;
  vertical-align: middle;
}

.navbar-right > li > a#user-menu {
  padding: 10px;
  margin: 0;
}

.navbar-right.search,
.navbar-right.publish {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-right.search > form {
  width: 100%;
}

/*progress bar*/
@keyframes rainbow {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 200%;
  }
  100% {
    background-position: 0 100%;
  }
}
#progress-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  z-index: 9999;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 900% 900%;
  animation: rainbow 9s ease infinite;
}

/*thumbnail*/
.thumbnail {
  padding-left: 24px;
  padding-right: 24px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
}

.profile {
  min-height: 300px;
  align-items: center;
  display: flex;
}

.profile .caption {
  display: inline-block;
}

li .glyphicon {
  margin-right: 1rem;
  vertical-align: middle;
}

/*statusbar*/
/*.statusbar .glyphicon,*/
/*.statusbar a */
/*    margin-right: 5px*/
/*    !*font-size: 18px*!*/
/**/
.statusbar {
  display: block;
  line-height: 24px;
  height: 24px;
  margin-top: 15px;
  font-size: 20px;
}

.article-preview .statusbar {
  margin-top: 23px;
}

.btn-text {
  text-decoration: none;
  background: transparent;
  display: inline-block;
  font-weight: 400;
  outline: 0;
  border: 0;
  padding: 0;
}

/*transition: color 0.5s linear*/
.btn-text:hover {
  text-decoration: none;
}

.btn-text:focus {
  text-decoration: none;
}

.statusbar .btn-text > span {
  vertical-align: text-top;
}

/*.statusbar > a,*/
/*.statusbar > button */
/*    height: 18px*/
/*    line-height: 18px*/
/**/
/*.statusbar  a,*/
/*.statusbar  span*/
/*    display: inline-block*/
/*    line-height: inherit*/
/*    vertical-align: middle*/
/**/
.statusbar > * + * {
  margin-left: 1rem;
}

/*editor*/
.editor {
  display: flex;
  background: #fafafa;
}

/*.input-group.title */
/*    padding: 0 15px*/
/*    margin-bottom: 15px*/
/*    width: 100%*/
/**/
.flask-pagedown {
  margin-right: 1rem;
}

.flask-pagedown-preview h1,
.flask-pagedown-preview h2,
.flask-pagedown-preview h3 {
  margin-top: 0 !important;
}

/*article preview*/
.article-detail, .article-preview {
  padding-top: 23px;
  padding-bottom: 23px;
  margin-bottom: 24px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.article-preview > p {
  font-size: 18px;
}

.article-detail > h1 {
  text-align: center;
}

.article-detail > p,
.article-detail > blockquote {
  font-size: 20px;
  margin: 2rem 0 0;
  letter-spacing: -0.004em;
}

.publication-float {
  width: 15rem;
  position: fixed;
  top: 20%;
  left: 10%;
}

#write-comment {
  padding-top: 10px;
  padding-bottom: 10px;
}

/*author-bar*/
.author-bar {
  align-items: center;
}

.post-menu,
.comment-menu {
  float: right;
}

.author-bar-right {
  margin-left: 15px;
}

.author-bar-name {
  margin-bottom: 2px;
}

.author-bar-name > .btn-follow.btn-xxs {
  margin-left: 8px;
}

.user-preview {
  margin-bottom: 10px;
  padding: 0 20px;
}

.u-flex2 {
  margin-left: 15px;
}

/*messages*/
.read {
  color: grey;
}

/*publications*/
.publication-info {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-nav > li > a#draft-status:hover,
.navbar-nav > li > a#draft-status:focus {
  cursor: default;
  background-color: inherit;
}

/*# sourceMappingURL=wave.css.map */
