{% extends "base_infinite_scroll.html" %}

{% block title %}{{ _('Your articles') }} | Wave{% endblock %}

{% block content %}
    {{ super() }}
    <div class="row">
        <div class="col-xs-12 col-md-12 articles">

            <div class="page-header">
                <h1>{{ _('Articles related to %(name)s', name=tag.name) }}</h1>
            </div>

            {% for post in tag.posts %}
                {% include 'post/_post_preview.html' %}
            {% else %}
                <h3>{{ _('Nothing here.') }}</h3>
            {% endfor %}
            {% include "post/_post_delete_confirm.html" %}

        </div>
    </div>
    <a class="pagination__next" href="{{ request.url }}&page=2"></a>
{% endblock %}
