{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    {{ post.title }} | {{ 'Wave' }}
{% endblock %}

{% block content %}

    {% with pub = post.publication %}
        {% include "publication/_publication_float.html" %}
    {% endwith %}

    <div class="row distance">
        <div class="col-xs-12 col-md-12">
            <div class="thumbnail article-detail">

                {% with author = post.author, content = post %}
                    {% include "user/_author_bar.html" %}
                    {% include "post/_post_delete_confirm.html" %}
                {% endwith %}

                <h1>{{ post.title }}</h1>
                {{ post.html | safe }}

                    <ul class="nav nav-pills tags">
                        {% for tag in post.tags %}
                            <li role="presentation"><a href="{{ url_for('frontend.index') }}">{{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>

                {% include "post/_post_statusbar.html" %}
            </div>
        </div>
    </div>

    {{ super() }}
    {#    {% set comments = post.comments %}#}
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="thumbnail" id="write-comment">
                {{ wtf.quick_form(form) }}
            </div>
            {% set type = "comment" %}
            {% for comment in comments %}
                {% include "comment/_comment_preview.html" %}
            {% endfor %}
            {% include "comment/_comment_delete_confirm.html" %}
        </div>
    </div>

{% endblock %}