{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/infinite-scroll.pkgd.min.js') }}"></script>

    {#<script>#}
    {#    $(document).ready(function () {#}
    {#        var since = "{{ user.member_since.strftime('%Y-%m-%dT%H:%M:%S' + 'Z') }}";#}
    {#        var last = "{{ user.last_seen.strftime('%Y-%m-%dT%H:%M:%S' + 'Z') }}";#}
    {#        $('span#member_since').text(moment(since).format('L'))#}
    {#        $('span#last_seen').text(moment(last).fromNow())#}
    {#    })#}
    {#</script>#}

{% endblock %}
