{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ _('New post') }} | Wave{% endblock %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block navbar_left %}
    <li>
        <a href="" id="draft-status" onclick="return false" >
            <span>{{ _('Draft') }}<span id="draft_progress"></span></span>

        </a>
    </li>
{% endblock %}

{% block extra_navbar %}
    <div class="navbar-right publish">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                data-target="#publishModalForRichText">
            {% if form.reference_id.data %}
                {{ _('Revise article') }}
            {% else %}
                {{ _('Ready to publish?') }}
            {% endif %}
        </button>
    </div>
{% endblock %}

{% block content %}
    {{ super() }}

    <div class="container">
        <div class="col-xs-6 col-md-12" id="slate-editor"></div>
    </div>

    <div class="modal fade" id="publishModalForRichText" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        {% if form.reference_id.data %}
                            {{ _('Revise article') }}
                        {% else %}
                            {{ _('Ready to publish') }}
                        {% endif %}
                    </h4>
                </div>

                <form action="" method="post" class="form" role="form">
                    {{ form.hidden_tag() }}
                    <div class="modal-body">

                        <h4>{{ _('Article Preview') }}</h4>
                        {{ wtf.form_field(form.title) }}
                        {{ wtf.form_field(form.subtitle) }}
                        <div class="form-group">
                            {{ form.description.label }}
                            {{ form.description(class="form-control", aria_describedby="note", rows="3") }}
                        </div>
                        <span class="note">
                            {{ _('Note: Changes here will affect how your article appears in public places like Wave’s homepage'
                        ' — not the article itself.') }}
                        </span>
                        <hr>

                        <h4>{{ _('Additions') }}</h4>
                        <div class="form-group">
                            {{ form.publication.label }}
                            {{ form.publication(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.tags.label }}
                            {{ form.tags(class="form-control") }}
                        </div>
                        {{ wtf.form_field(form.private) }}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
                        {{ form.submit(class="btn btn-primary") }}
                        {#                        <button type="button" class="btn btn-primary" id="publishNow">{{ _('Publish now') }}</button>#}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}