{% extends "base.html" %}

{% block title %}{{ _('Newest article') }} | Wave{% endblock %}

{% block content %}

    {{ super() }}

    <div class="row">
        <div class="col-xs-12 col-md-12 articles">
            <h1>{{ _('Newest') }}</h1>
            {% for post in posts %}
                {% include "post/_post_preview.html" %}
            {% endfor %}
        </div>
        <a class="pagination__next" href="{{ url_for('post.newest') }}?page=2"></a>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/infinite-scroll.pkgd.min.js') }}"></script>
{% endblock %}